* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.disappear {
  display: none !important;
}

.clima {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #F6BE00;
}
.clima .btnBack {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 40px;
  margin: 10px;
  background-color: black;
  border-radius: 40px;
  color: white;
  border: none;
  box-shadow: inset 0 0 0 0 white;
  transition: 0.3s;
  cursor: pointer;
}
.clima .btnBack i {
  font-size: 20px;
}
.clima .btnBack:hover {
  box-shadow: inset 200px 0 0 0 white;
  transition: 0.3s;
}
.clima .btnBack:hover i {
  color: black;
}
.clima .climaDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 400px;
  min-height: 200px;
  background-color: #2D82CB;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}
.clima .climaDisplaySearch {
  padding-top: 40px;
}
.clima .climaDisplaySearch h3 {
  color: white;
  font-size: 28px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.clima .climaDisplaySearch .inputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clima .climaDisplaySearch .inputWrapper input {
  padding: 10px;
  width: 100%;
  height: 45px;
  border-radius: 5px 0 0 5px;
  border: none;
}
.clima .climaDisplaySearch .inputWrapper i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #175286;
  height: 45px;
  width: 55px;
  border-radius: 0 5px 5px 0;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.clima .climaDisplaySearch .inputWrapper i:hover {
  background-color: #11416C;
  transition: 0.3s;
}
.clima .climaDisplayInfos {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  color: white;
}
.clima .climaDisplayInfos .climaCondicao {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.clima .climaDisplayInfos .climaCondicao #climaDesc {
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
}
.clima .climaDisplayInfos .climaInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.clima .climaDisplayInfos .climaInfo h2 {
  font-size: 62px;
  font-weight: 500;
}
.clima .climaDisplayInfos .climaInfo i {
  font-size: 40px;
}
.clima .climaDisplayInfos .climaLocal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.clima .climaDisplayInfos .climaLocal i, .clima .climaDisplayInfos .climaLocal p {
  font-size: 20px;
}
.clima .climaDisplayInfos .climaMoreInfos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
.clima .climaDisplayInfos .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 50px 0;
  gap: 10px;
}
.clima .climaDisplayInfos .buttons .celsius {
  border: 2px solid #1e588a;
  color: #1e588a;
}
.clima .climaDisplayInfos .buttons .celsius:hover {
  background-color: #1e588a;
  color: white;
  transition: 0.3s;
}
.clima .climaDisplayInfos .buttons .fahrenheit {
  border: 2px solid #e68e6e;
  color: #e68e6e;
}
.clima .climaDisplayInfos .buttons .fahrenheit:hover {
  background-color: #e68e6e;
  color: white;
  transition: 0.3s;
}
.clima .climaDisplayInfos .buttons .kelvin {
  border: 2px solid #52b5be;
  color: #52b5be;
}
.clima .climaDisplayInfos .buttons .kelvin:hover {
  background-color: #52b5be;
  color: white;
  transition: 0.3s;
}
.clima .climaDisplayInfos .buttons button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  transition: 0.3s;
}

/*# sourceMappingURL=clima.css.map */
