@use 'variables';
@use 'mixins';

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.calculadora{
    background-color: variables.$primaryColor;
    flex-direction: column;
    height: 100vh;
    @include mixins.flex-center;
    @include mixins.btnBack;

        .displayCalculadora{
            width: 500px;
            height: 700px;
            @include mixins.flex-center;
            flex-direction: column;
            background-color: #e6e4e3;
            border-radius: 20px ;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            input{
                width: 84%;
                padding: 10px 25px;
                font-size: 30px;
                font-weight: 700;
                height: 80px;
                outline: none;
                border: 2px solid #afa2a2;
                border-radius: 4px;
                text-align: right;
            }

            &Buttons{
                @include mixins.flex-center;
                gap: 20px;
                display: grid;
                padding-top: 20px;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(5, 1fr);
                align-items: stretch;

                button{
                    width: 90px;
                    height: 70px;
                    border-radius: 10px;
                    @include mixins.flex-center;
                    background-color: #FEF9FF;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    font-size: 20px;
                    font-weight: 600;
                    cursor: pointer;
                    border: none;
                    transition: .3s;

                    &:hover{
                        background-color: #dfdfdf !important;
                        transition: .3s;
                    }

                }

                #resultIgual{
                    height: 160px;
                    grid-column: 4;
                    grid-row: 4 / 6;
                }

                #zero{
                    width: 200px;
                    grid-column: 1 / 3;
                }

                #deleteLast, #deleteAll, .btnOperation, #resultIgual {
                    background-color: #afa2a2;
                    color: white;
                    &:hover{
                        color: black !important;
                    }
                }

            }
        }
  
}
