@use 'variables';
@use 'mixins';

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.disappear{
    display: none !important;
}

.memoryGame{
    @include mixins.btnBack;
}

