@use 'variables';

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin container{
    width: 1400px;
    margin: 0 auto;
}

@mixin sectionImgLeft{
    div:first-child{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1300px;
        margin: 0 auto;
        font-family: variables.$fontFamilyDefault;
        gap: 30px;

        img{
            max-width: 250px;
            margin: 50px 20px;
            border-radius: 20px;
        }

        div{
            color: white;
            padding-right: 20px;
            max-width: 800px;

            h2{
                font-size: 40px;
            }

            .buttons{
                padding-top: 20px;
                display: flex;
                gap: 20px;
                button{
                    border: none;
                    width: 200px;
                    height: 50px;
                    border-radius: 5px;
                    font-size: 15px;
                    font-weight: 600;
                    cursor: pointer;
                    box-shadow: inset 0 0 0 0 variables.$primaryColor;
                    transition: ease-in-out .4s;

                    &:hover{
                        box-shadow: inset 200px 0 0 0 variables.$primaryColor;
                        transition: ease-in-out .4s;
                    }
                }
            }

            }
        }
    }

    
@mixin sectionImgRight{
    div:first-child{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        max-width: 1300px;
        margin: 0 auto;
        font-family: variables.$fontFamilyDefault;
        gap: 30px;

        img{
            max-width: 250px;
            margin: 50px 20px;
            border-radius: 20px;
        }

        div{
            color: white;
            padding-left: 20px;
            max-width: 800px;

            h2{
                font-size: 40px;
            }

            .buttons{
                padding: 20px 0 0 0;
                display: flex;
                gap: 20px;
                button{
                    border: none;
                    width: 200px;
                    height: 50px;
                    border-radius: 5px;
                    font-size: 15px;
                    font-weight: 600;
                    cursor: pointer;
                    box-shadow: inset 0 0 0 0 variables.$primaryColor;
                    transition: ease-in-out .4s;

                    &:hover{
                        box-shadow: inset 200px 0 0 0 variables.$primaryColor;
                        transition: ease-in-out .4s;
                    }
                }
            }

            }
        }
    }

@mixin btnBack{
    .btnBack{
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 40px;
        margin: 10px;
        background-color: black;
        border-radius: 40px;
        color: white;
        border: none;
        box-shadow: inset 0 0 0 0 white;
        transition: .3s;
        cursor: pointer;
        i{
            font-size: 20px;
        }

        &:hover{
            box-shadow: inset 200px 0 0 0 white;
            transition: .3s;
            i{
                color: black;
            }
        }
    }
}

@mixin buttonsSectionBlack{
    .buttons{
        button{
            box-shadow: inset 0 0 0 0 black !important;
            &:hover{
                box-shadow: inset 200px 0 0 0 black !important;
                color: white !important;
            }
        }
    }
}